	html,body,#app {
    .el-message{
      width:320px;
      top:60px;
      img{
        display:none;
      }
      background: #F7D2D5;
      .el-message__group{
        margin-left:0;
        text-align:center;
        p{
          margin: 0 auto;
          font-size: 14px;
          color: #D61E2A;
        }
      }
    }
    position:relative;
	  font-family: "Microsoft YaHei","微软雅黑","PingFang SC","Helvetica Neue",Helvetica,"Hiragino Sans GB",Arial,sans-serif;
	}
	input{
    outline:none;
		font-family: "Microsoft YaHei";
	}
	a{
		text-decoration: none;
	}
	tbody,thead,tr,td,th{
		margin:0;
		padding:0;
	}
	.pagination{
    float: right;
    margin-bottom: 30px;
    margin-right: 60px;
    .totle{
      font-size: 14px;
      color: #8C8C8C;
      margin-right: 20px;
    }
    .img{
      vertical-align: middle;
      cursor: pointer;
    }
    .num{
      margin:0 5px 0 8px;
    }
    input{
      background: #F5F5F5;
      border: 1px solid #E0E0E0;
      border-radius: 4px;
      width:56px;
      height:20px;
      margin-right: 8px;
    }
    .jump{
      font-size: 14px;
      color: #333333;
      background: #F5F5F5;
      display: inline-block;
      width:40px;
      height:24px;
      line-height: 24px;
      border-radius: 4px;
      text-align: center;
      cursor:pointer;
      font-size: 14px;
      color:#333;
    }
  }
  .W170{
    width:170px;
  }
  .W100{
    width:100px;
  }
  .W160{
    width:160px;
  }
  .W90{
    width:90px;
  }
  .W70{
    width:70px;
  }
  .W360{
    width:360px;
  }
  .W200{
    width:200px;
  }
  .W140{
    width:140px;
  }
  .W120{
    width:120px;
  }
  .W300{
    width:300px;
  }
  .W56{
    width:56px;
  }
  .W240{
    width:240px;
  }
  .W222{
    width:222px;
  }
  .W178{
    width:178px;
  }
  .W584{
    width:584px;
  }
  .W280{
    width:280px;
  }
  .W150{
    width:150px;
  }
  .W50{
    width:50px;
  }
  .W80{
    width:80px;
  }